.Rhistory
Codes&Data/
detox-data-science-analytics-html-template-2023-11-27-05-25-38-utc/
data/Aacetylene.xlsx
data/Admit.csv
data/Admit.xlsx
data/Awards.csv
data/Awards.xlsx
data/BusinessAnalytics.xlsx
data/CustomerPurchase.xlsx
data/Income.xlsx
data/P0_MPG.xls
data/P10_Davis.xlsx
data/P11_ToolLife.xlsx
data/P1_RocketPropellant.xlsx
data/P4_RealEstate.xlsx
data/P5_HardWood.xlsx
data/P6_GiftValue.xlsx
data/P7_Refrigeration.xlsx
data/P8_ElectricUtility.xlsx
data/P9_WindMill.xlsx
data/VoltageDrop.xlsx
data/Wellness.xlsx
